/*
====================================================================================================================================================================
                                                    Start Contact Page
====================================================================================================================================================================
*/

.form{
    margin: 50px;

}

.input-field{
    width: 50%;
    box-sizing: border-box;
    overflow: visible;
    position: relative;
    /* z-index: 9999; */
    margin: 0;
    
    /* width: 100%; */
    padding: 15px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin-bottom: 25px;
    color: #727272;
    font-size: 13px;
    transition: all 0.4s;
}
/*
====================================================================================================================================================================
                                                    End Contact Page
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

 

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/
