/*
====================================================================================================================================================================
                                                    Start Tech Support Page
====================================================================================================================================================================
*/

 #techsupport{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .computersupport{
     padding:10px;
 }
 .computersupport2{
     padding:10px;
 }
 .computersupport3{
     padding:10px;
 }
h1{
    font-size: 30px!important;
}
/*
====================================================================================================================================================================
                                                    End Tech Support Page
====================================================================================================================================================================
*/
